.search {
  min-width: 24rem;
  position: relative;
  left: 4rem;
}

.search-mobile {
  display: block !important;
  background-color: white;
  display: fixed;
}

.search-desktop {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .search-mobile {
    display: none !important;
  }
  .search-desktop {
    display: block !important;
  }
}
